<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Halley_Comet</title>
<style>
#titel{
font-size: 0.8em;
}
#copy_url{
position:absolute;
left:  220px;
}
</style>
</head>
<body>
<div id="titel" >
<h4>Halley's Comet Project Team:TopFive</h4> 
</div>
<hr />
<form method="post" >
<div id="shorturl" >
{{uf.as_p}}
<input type="submit" id='post_url' value="缩短url" />
</form>
<div>{{ym}} </div>
</div>
</body>
</html>